<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HTML</title>
    <!-- 设置 viewport -->
   <!--  <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 兼容国产浏览器的高速模式 -->
    <meta name="renderer" content="webkit">
    <meta name="Author" content="fans_m@163.com" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <!-- 引入 CSS 文件 -->
    <link rel="stylesheet" href="../css/H_reset.css"/>
</head>
<body>



<!-- 提供的 JS 文件是基于 jQuery -->
<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>

<script type="text/javascript">

</script>
</body>
</html>
