@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
  margin: 0;
  padding: 0;
}
fieldset,img {
   border: 0;
}
address,caption,cite,code,dfn,th,var {
    font-style: normal;
    font-weight: normal;
}
ul,ol {
    list-style: none;
}
html{
  font-family:"Microsoft YaHei","SimSun";
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun","宋体";
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
select,input {
    vertical-align: middle;
}
select,input,textarea {
    font-size: 12px;
    margin: 0;
}
 input[type="text"],input[type="password"],textarea {
    outline-style: none;
    -webkit-appearance: none;
}
textarea {
    resize: none;
}
table {
    border-collapse: collapse;
}
a {
　　background: transparent;
　　text-decoration: none;
}
a:active {
　　outline: 0;
}
.f_left{
    float: left;
}
.f_right{
    float: right;
}
